{% extends "layout.html" %}
{% block content %}
<form class="in_forms" action="/signup" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="re_password" placeholder="Repeat password">
        <input class="button" type="submit" name="signup" value="Signup">
        <p>{{ status }}</p>
        <a href="{{url_for('login')}}">Already have an account? Sign-in</a>
      </form>
{%endblock%}