{% extends "layout.html" %}
{% block content %}
<div class="infobox">
  <form action="/sltrip" method="post">
    <input type="text" name="origin" placeholder="Från">
    <input type="text" name="destination" placeholder="Till">
    <input class="button" type="submit" name="sök" value="Sök">
  </form>

  <div class="results">
    {% for i in g.sl%}
    <div class="result">
      <div class="overview">
        <div class="origin-info">
          <h1>{{i.depart_time}}</h1>
          <p>{{i.depart_place}}</p>
        </div>
        <h1>→</h1>
        <div class="dest-info">
          <h1>{{i.arrive_time}}</h1>
          <p>{{i.arrive_place}}</p>
        </div>
        <h1>{{i.travel_time}} min</h1>
      </div>
      <div class="details">
        {% for j in i.leg_info %}
        <div class="interval {{j.class}}">
          <h2>{{j.line}}</h2>
          <p>{{j.o_name}} {{j.o_time}}</p>
          <p>↓</p>
          <p>{{j.d_name}} {{j.d_time}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}